<!DOCTYPE html>
<html>
<head>
    <title>Asset List</title>
</head>
<body>
    <h1>Asset List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Company</th>
                <th>Assigned Date</th>
                <th>Returned Date</th>
            </tr>
        </thead>
        <tbody>
            {% for asset in assets %}
            <tr>
                <td>{{ asset.name }}</td>
                <td>{{ asset.company }}</td>
                <td>{{ asset.assigned_date }}</td>
                <td>{{ asset.returned_date }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No assets found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
